body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #2c3e50;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
}
