body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #2c3e50;
    overflow: hidden;
    position: relative;
}

.snowflake {
    position: absolute;
    color: #fff;
    pointer-events: none;
    /* Use text shadow for a bit of depth */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.tree {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 350px;
    z-index: 10;
}

.foliage {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #1e5631 transparent;
    left: 50%;
    transform: translateX(-50%);
}

.foliage.top {
    bottom: 200px;
    border-width: 0 60px 100px 60px;
}

.foliage.middle {
    bottom: 120px;
    border-width: 0 90px 120px 90px;
}

.foliage.bottom {
    bottom: 50px;
    border-width: 0 120px 140px 120px;
}

.trunk {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 50px;
    background-color: #5C3D2E;
}

.snow-pile {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height 1s linear;
    border-radius: 5px;
}

.foliage .snow-pile {
    /* Position snow on top of the foliage triangles */
    bottom: auto;
    top: -5px;
    border-radius: 50% / 10px;
    width: calc(100% + 10px);
    left: -5px;
}

.snow-pile.ground {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
    z-index: 20; /* Above the tree trunk */
}